<p>
    <mat-toolbar>
        <img src="assets/images/app-logo.png" style="width: 50px;">
        <span> Transações</span>
    </mat-toolbar>
</p>

<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Pagamentos</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let payment of transactions.activities.payments">
            <mat-card class="example-card mat-elevation-z5">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="assets/images/app-logo.png" style="width: 50px;border-radius: 50px;"></div>
                    <mat-card-title>De: {{ payment.from.firstname + ' ' + payment.from.lastname }}</mat-card-title>
                    <mat-card-subtitle>Para: {{ payment.to.firstname + ' ' + payment.to.lastname }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <p>
                        <strong>Montante: </strong> {{ payment.amount }}
                        <strong>Descrição: </strong> {{ payment.description }}
                    </p>
                    <br>
                    <button mat-button color="primary">Detalhes</button>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Depósitos</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let deposit of transactions.activities.deposits">
            <mat-card class="example-card mat-elevation-z5">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="assets/images/app-logo.png" style="width: 50px;border-radius: 50px;"></div>
                    <mat-card-title>De: {{ deposit.company_bank_account.holder }}</mat-card-title>
                    <mat-card-subtitle>{{ deposit.payment_method.name }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <p>
                        <strong>Montante: </strong> {{ deposit.amount }}
                        <strong>Descrição: </strong> {{ deposit.payment_method.description }}
                    </p>
                    <br>
                    <button mat-button color="primary">Detalhes</button>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</section>