<p>
    <mat-toolbar>
        <img src="assets/images/app-logo.png" style="width: 50px;">
        <span> Transações</span>
    </mat-toolbar>
</p>

<section>
    <mat-card class="example-card mat-elevation-z5">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><img src="assets/images/app-logo.png" style="width: 50px;border-radius: 50px;"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>
</section>