<!DOCTYPE html>
<html>
  <head>
    <title>TestDevAlpha</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
